@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/global.scss" as *;

// .spotify-player {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding-bottom: 2rem;
//   @include tablet {
//     padding-top: 2rem;
//     padding-bottom: 0rem;
//   }

//   &__close-button {
//     color: $background-color-secondary;
//     font-weight: bold;
//     position: relative;
//     top: -102px;
//     right: -14px;
//     background: none;
//     border: none;
//     font-size: 16px;
//     cursor: pointer;
//     z-index: 1;
//   }
// }

// .spotify-player iframe {
//   width: 300px;
//   height: 100px;
//   @include tablet {
//     width: 350px;
//     height: 150px;
//   }
// }


.spotify-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: #282c34;
  color: white;
  border-radius: 10px;
  width: 300px;
  height: 100px;
  margin-bottom: 0;
  @include tablet {
    width: 350px;
    height: 150px;
  
  }
}

.spotify-player__close {
 

  &--button {
    align-self: flex-end;
    background: none;
    border: none;
    color: white;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
  }
}

.spotify-player__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.spotify-player__album-art {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  @include tablet {
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }
}

.spotify-player__details {
  display: flex;

  &--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &--track {
    font-size: 12px;
    @include tablet {
      font-size: 16px;
    }
  
  }

  &--artist {
    font-size: 12px;
    margin-top: 4px;
    @include tablet {
      font-size: 14px;
    }
  }
}

.spotify-player__controls {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 12px;
  color: #1db954;

  &--button {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    outline: none;
  }
  &--icon {
    width: 25px;
    height: 25px;
    }
}

.spotify-player__progress {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 4px;

  &--duration {
    font-size: 12px;
  }
}

.spotify-player__progress-bar {
  flex-grow: 1;
  height: 5px;
  background-color: #555;
  margin: 0 10px;
  border-radius: 5px;
  overflow: hidden;
}

.spotify-player__progress-bar-fill {
  height: 100%;
  background-color: #1db954;

  &--duration {
    font-size: 12px;
  }
}