// colors
$background-color-primary: #000000;
$background-color-secondary: rgb(95, 99, 104);
$secondary-color-green: #1bd760;
$secondary-color-purple: #8174ff;

// font colors
$font-color-primary: rgb(227, 227, 227);

// font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

// media
$mobile-width: 300px;
$tablet-width: 768px;
$desktop-width: 1280px;
